.auth-page {
  .auth-form-article {
    z-index: 5;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 3px;
    background: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 30px;
    .login-logo {
      background-image: image-url("login_logo.png");
      background-size: contain;
      width: 100px;
      height: 100px;
    }
    h2 {
      color: #FF9147;
      font-weight: 200;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 50px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    hr {
      border: 1px solid #EEEEEE;
      width: 250px;
    }
    input {
      background-color: #F2F2F2;
      padding: 5px 10px;
      margin: 15px 0;
      width: 250px;
    }
    input[type="submit"] {
      width: 80px;
      color: white;
      background-color: #29A5DC;
      text-align: center;
      line-height: 45px;
      border-radius: 8px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #55B7E3;

    }

    a {
      cursor: pointer;
      color: #29A5DF;
      font-size: 14px;
      font-weight: 200;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.darken {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0,0,0,0.6);
}
.cf {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  a {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: normal;
  }
  .image1 {
    background-image: url("http://s3.amazonaws.com/BRAINGAIN-PRO/background-pages/login-background1.jpg");
    animation-delay: 15s;
  }
  .image2 {
    background-image: url("http://s3.amazonaws.com/BRAINGAIN-PRO/background-pages/login-background2.jpg");
    animation-delay: 10s;
  }
  .image3 {
    background-image: url("http://s3.amazonaws.com/BRAINGAIN-PRO/background-pages/login-background3.jpg");
    animation-delay: 5s;
  }
  .image4 {
    background-image: url("http://s3.amazonaws.com/BRAINGAIN-PRO/background-pages/login-background4.jpg");
    animation-delay: 0s;
  }
}

@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
