.main-nav-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #2F2F2F;
  border-bottom: solid 5px #FF8A47;
  padding: 5px 15px 5px 15px;
}

.brain-image {
  background-image: image-url("brain.png");
  background-size: cover;
  display: inline-block;
  float: left;
  width: 50px;
  height: 100%;
}

.navbar-link {
  color: #666666;
  float: left;
  margin: 15px;
  text-decoration: none;
}

.navbar-link:hover {
  color: #55B7E3;
}
