.public-subjects-section {
  margin: auto;
  width: 80%;
  padding: 30px;
  background-color: white;
}

.public-subjects-section h3 {
  text-align: center;
}

.public-subjects-section ul {
  list-style: none;
}
