.public-subject-detail-page header {
  height: 305px;
  width: 100%;
  padding: 45px 10%;
  background-image:
    linear-gradient(
      to right,
      #01A8D7, #75D177
    );
  img {
    width: 100px;
    height: 100px;
    float: left;
  }
  .public-subject-info {
    height: 100%;
    float: left;
    margin-left: 15px;
    border-left: 1px solid #FFFFFF;
    padding-left: 15px;
    h1 {
      color: #FFFFFF;
      line-height: 1px;
      font-weight: 200;
      font-size: 50px;
    }
    p {
      color: #A7EFF1;
      font-size: 24px;
      font-weight: 200;
    }
  }
  .subscribe-btn-window {
    float: right;
    width: 360px;
    padding: 20px;
    background-color: #C2EADB;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #92D176;
    a {
      width: 250px;
      height: 55px;
      border-radius: 3px;
      background-color: #50C450;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .subscribe-btn-null {

    }
  }
}

.public-subject-detail-page section {
  width: 100%;
  padding: 45px 10%;
  background-color: #FEFEFE;
  color: #333333;
  h3 {
    font-weight: 500;
    font-size: 22px;
  }

  table {
    border-collapse: collapse;
    .deck-col-1 {
      width: 60px;
      text-align: center;
    }
    .deck-col-2 {
      width: 345px;
      text-align: left;
    }
    .deck-col-3 {
      width: 120px;
      text-align: right;
    }
    thead {
      th {
        padding: 10px;
        border-bottom: 2px solid #DDDDDD;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: #F9F9F9;
      }
      td {
        padding: 10px;
        border-bottom: 1px solid #DDDDDD;
      }
    }
  }
}
