.public-subjects-section {
  margin: 20px auto;
  width: 900px;
  min-height: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.public-subjects-section h3 {
  text-align: center;
}

.public-subjects-section hr {
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.public-subjects-section ul {
  list-style: none;
  color: #55B7E3;

  -moz-column-count: 3;
  -moz-column-gap: 188px;
  -webkit-column-count: 3;
  -webkit-column-gap: 188px;
  column-count: 3;
  column-gap: 188px;
}

.public-subjects-section ul li {
  margin: 3px;
}

.public-subjects-section ul li:hover {
  color: #1A769F;
  text-decoration: underline;
}
