.study-page {
  height: 725px;
  section {
    height: 100%;
    float: left;
  }
}

.study-nav {
  width: 30px;
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
  a {
    margin: 5px 0;
    cursor: pointer;
  }
  .logo {
    background-image: image-url("navbar_logo.png");
    background-size: cover;
    width: auto;
    height: 30px;
  }
}

.progress {
  width: 30%;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  h3 {
    height: 25px;
    background-color: #4A4A4A;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    color: #FFFFFF;
    margin: 0;
  }
  h3:before {
    color: #90969C;
    content: "Studying: ";
  }
  .done-button {
    background-color: #29A5DC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    width: 40%;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
  }
  .mastery-status {
    background-color: #444444;
    color: white;
    margin: 0 auto;
    padding: 10%;
    width: 90%;
    height: 90px;
  }
  .masteries {
    list-style: none;
    color: white;
    font-weight: 200;
    padding: 10%;
    li {
      background-color: #444444;
      margin: 10px 0;
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        background-color: #333333;
        width: 5%;
        height: 100%;
      }
      div {
        height: 100%;
      }
    }
  }
}
.flashcard-section {
  width: 65%;
  padding: 65px;
  perspective: 1000;
  -webkit-perspective: 1000;

  .flipped, .back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }

  .flashcard {
    position: relative;
    width: 100%;
    height: 75%;
    border: 1px solid #DADADA;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    div {
      background-color: white;
      text-align: left;
      display: flex;
      padding-left: 10%;
      align-items: center;
      font-size: 38px;
    }
  }
  .prompt {
    height: 50px;
    margin-top: 30px;
    width: 100%;
    text-align: center;

  }
  .reveal {
    display: block;
    border: 1px solid #DADADA;
    padding: 22px;
    background-color: #29A5DC;
    color: white;
  }
  .mastery-choices {
    background-color: #29A5DC;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    li {
      width: 20%;
      color: white;
      padding: 10px 0;
      cursor: pointer;
      height: 100%;
      text-align: center;
    }
    li:nth-of-type(1){
      background-color: #AA0080;
    }
    li:nth-of-type(2){
      background-color: #FF8A47;
    }
    li:nth-of-type(3){
      background-color: #FFDD00
    }
    li:nth-of-type(4){
      background-color: #7FAE2E;
    }
    li:nth-of-type(5){
      background-color: #00A8D7;
    }
  }
}
