.user-subject-index {
  height: 500px;
  width: 300px;
  float: left;
}

.subject-index-header {
  border-right: 3px solid #E8E8E8;
  margin-bottom: 5px;
  background-color: #F2F2F2;
  height: 60px;
}

.user-subject-list {
  list-style: none;
  border-right: 3px solid #E8E8E8;
  background-color: #F2F2F2;
}

.user-subject-list-item {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.user-subject-list-item a {
  text-decoration: none;
}
