.user-subject-index {
  width: 21%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-right: 3px solid #E8E8E8;
}

.subject-index-header {
  margin-bottom: 5px;
  padding-left: 15px;
  h3 {
    font-weight: 300;
  }
}

.user-subject-list {
  list-style: none;
  color: #55B7E3;
  padding-left: 15px;
}

.user-subject-list-item {
  border-bottom: 1px solid #E8E8E8;
  width: 90%;
  padding: 15px;
  float: left;
  cursor: pointer;
}

.user-subject-list-item:hover {
  background-color: #EEEEEE;
}

.index-subject-thumb {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.user-subject-list-item a {
  text-decoration: none;
}

.user-subject-list-item a:active {
  text-decoration: underline;
  color: #29A5DC;
}
