.section-subject-detail {
  float: left;
  width: 700px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.subject-info {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 30px;
  input {
    color: #FF8A4C;
    font-size: 28px;
  }
  .subject-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin-right: 10px;
      input {
        position: absolute;
        width: 100%;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .thumbnail-edit {
        background-image: image-url("thumb-edit.png");
        background-size: contain;
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 1;
        z-index: 20;
        bottom: 0;
        right: 0;
      }
  }
  .delete-button {
    float: right;
    background-color: #31B0D5;
    border-radius: 3px;
    padding: 5px;
    color: white;
    cursor: pointer;
  }
}

.subject-avatar:hover {
  cursor: pointer;
}
