.subject-deck-index {

}

.subject-deck-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  .subject-deck-table-head {
    th {
      border-bottom: 3px solid #E8E8E8;
      padding: 28px 5px;
      a {
        float: right;
      }
    }
  }
  tbody {
    tr {
      background-color: white;
    }
    tr:nth-child(odd) {
      background-color: #F9F9F9;
    }
    td {
      padding: 20px 5px;
    }
  }

}
